html, body {
  font-family: arial;
  margin: 0;
}

.marker-container {
  width: auto;
  display: inline-block;
  position: relative;

  .sprite {
    background-image: url(./spritesheet.png);
    background-repeat: no-repeat;
    display: block;
  }

  .sprite-twitter-marker {
    width: 30px;
    height: 44px;
    background-position: -5px -5px;
    cursor: pointer;
    margin: 0 auto;
    position: absolute;
    right: 0;

    &:hover {
      width: 30px;
      height: 44px;
      background-position: -45px -5px;
    }
  }

  .tweet {
    background: white;
    -webkit-box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
    letter-spacing: 0.5px;
    font-weight: bolder;
    padding: 5px;
    border-radius: 10px;
    border: 2px solid #599CDD;
    position: absolute;
    z-index: 1;

    .tweet-content {
      display: none; 
    }
  }

  &.show-first {
    .sprite-twitter-marker {
      z-index: 2;
    }

    .tweet {
      z-index: 2;

      .tweet-content {
        display: block;
      }
    }
  }
}

.address-bar {
  margin: 10px;

  input {
    border: none;
    font-size: 1.2em;
    width: 250px;
    border-radius: 10px;
    font-family: arial;
    color: #4d4d4d;
    padding: 10px;

    &::placeholder {
      opacity: 0.8;
      border: none;
    }

    &:focus {
      outline: none;
    }
  }

  button {
    border: none;
    font-size: 1.2em;
    width: 70px;
    border-radius: 10px;
    font-family: arial;
    color: #4d4d4d;
    padding: 10px;
    margin-left: 5px;
    font-weight: bolder;
  }
}

.twitter-feed {
  width: 40%;
  height: 40%;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  margin: 10px;
  z-index: 9;
  left: 0;
  bottom: 0;
  position: fixed;
  overflow-y: scroll;
  overflow-x: hidden;
  border-radius: 20px;
  font-size: 0.8em;
  max-width: 330px;
  &::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
  }

  &:before {
    content: '';
    width: 100%;
    height: 35%;
    position: fixed;
    left: 0;
    bottom: 0;
    background: linear-gradient(transparent 150px, white);
  } 

  p {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    text-align: center;
  }

  .tweet-content {
    margin-bottom:20px;

    .user-image-container{
      .user-image {
        display: inline;
        vertical-align: middle;
        border-radius: 50%;
        height: 30px;
        margin-right: 5px;
      }

      .username {
        display: inline;
        vertical-align: middle;
        font-weight: bolder;
      }
    }

    .tweet {
      margin-top: 5px ;
    }

    .date {
      font-size: 0.7em;
      margin-top: 5px;
    }
  }
}
